{% extends 'base.html.twig' %}

{% block title %}{{ categorie.titre }}{% endblock %}

{% block body %}
    <div class="h2 pb-2 text-primary border-bottom border-dark">
        Catégorie {{ categorie.titre }}
    </div>
    <span class="blockquote-footer">
        {% if articles | length > 1 %}
            {{ articles | length }} articles
        {% else %}
            {{ articles | length }} article
        {% endif %}
    </span>

    <div class="accordion mt-3 mb-5" id="accordionArticles">
        {% for article in articles %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="article{{ article.id }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ article.id }}" aria-expanded="false" aria-controls="collapse{{ article.id }}">
                    {{ article.titre }}
                </button>
            </h2>
            <div id="collapse{{ article.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ article.id }}" data-bs-parent="#accordionArticles">
                <div class="accordion-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <span class="badge rounded-pill text-bg-info mb-3">{{ article.createdAt.format('d/m/Y') }}</span>
                        <a href="{{ path('app_articles_slug', {'slug': article.slug}) }}" class="badge rounded-pill text-bg-secondary mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                            </svg>
                        </a>
                    </div>
                    <div class="border border-secondary p-2 mb-4 rounded-4">{{ article.contenu }}</div>
                    {{ include('partials/_commentaires.html.twig') }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
