{% extends 'base.html.twig' %}

{% block title %}Détail article{% endblock %}

{% block body %}
    <div class="h2 pb-2 text-primary border-bottom border-dark d-flex justify-content-between">
        {{ article.titre }}

        {# Affichage du libelle de la catégorie si l'article en possède une. (En lien, pour afficher tout les articles de cette catégorie.) #}
        {% if article.categorie is not null %}
            <a href="{{ path('app_categories_slug', {'slug': article.categorie.slug}) }}" class="badge text-bg-secondary text-decoration-none">{{ article.categorie.titre }}</a>
        {% else %}
            <span class="badge text-bg-secondary text-decoration-none"> Sans catégorie</span>
        {% endif %}
    </div>
    <span class="badge rounded-pill text-bg-info mb-3">{{ article.createdAt.format('d/m/Y') }}</span> {# Date de création #}
    <div class="border border-secondary p-2 mb-2 rounded-4">{{ article.contenu | raw }}</div>
    {{ include('partials/_commentaires.html.twig') }}
{% endblock %}
